sudo: false
language: node_js
node_js:
  - 'stable'
  - '4.3'
  - '4.1'
  - '4.0'
  - '0.12'
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8